In [1]:
from maestro.lib import memory

In [2]:
input = {1:11, 3:33, 2:22, 4:44}
action = {'action':'a'}
result = {1:10, 3:30, 2:20, 4:40}

In [3]:
mem = memory.create_memory_from_input(input,action)

In [4]:
mem

  input             action result
      1   2   3   4 action      1     2     3     4
0    11  22  33  44   None   None  None  None  None

In [5]:
new_row = {
    'input': {1:10, 2:20, 3:30, 4:40},
    'action': {'action':'b'},
    'result': {1:90, 2:90, 3:90, 4:90},
}

In [6]:
mem = memory.append_entire_record(mem, **new_row)
mem

  input             action result
      1   2   3   4 action      1     2     3     4
0    11  22  33  44   None   None  None  None  None
1    10  20  30  40      b     90    90    90    90

In [7]:
mem = memory.append_memory_action_result(mem, input, action, result)
mem

  input             action result
      1   2   3   4 action      1   2   3   4
0    11  22  33  44      a     10  20  30  40
1    10  20  30  40      b     90  90  90  90

In [8]:
memory.forward_search(
    memory=mem,
    inputs=[{1:11, 3:33, 2:22, 4:44}],
    goal={1:90, 2:90, 3:90, 4:90},)

(True,
 [{('input', 1): 11, ('input', 3): 33, ('input', 2): 22, ('input', 4): 44},
  {('input', 1): 10, ('input', 2): 20, ('input', 3): 30, ('input', 4): 40},
  {('result', 1): 90,
   ('result', 2): 90,
   ('result', 3): 90,
   ('result', 4): 90}],
 [{('action', 'action'): 'a'}, {('action', 'action'): 'b'}])

In [9]:
mem

  input             action result
      1   2   3   4 action      1   2   3   4
0    11  22  33  44      a     10  20  30  40
1    10  20  30  40      b     90  90  90  90

In [10]:
mem['input'].columns

Index([1, 2, 3, 4], dtype='object')